In [ ]:
# Last amended: 2nd August, 2021
# Myfolder: C:\Users\Administrator\OneDrive\Documents\talkingdata
# Ref: https://www.kaggle.com/nanomathias/feature-engineering-importance-testing
#      https://www.kaggle.com/nuhsikander/lgbm-new-features-corrected
#      https://github.com/harnalashok/h2o
#
# Data source: https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection
# Objectives:
#           i)    Categorical feature engineering
#                 using aggregation

In [ ]:
# Mount your google drive 
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# 1.1 Call libraries
# %reset -f
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random, gc
import os,time

In [ ]:
# 1.2 Display output from multiple commands
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 2.0 Import warnings module
import warnings
# 2.1 Do not print warnings on screen
warnings.filterwarnings("ignore")

In [ ]:
# 1.3 Change folder to where TalkingData is:
#os.chdir("C:\\Users\\Administrator\\OneDrive\\Documents\\talkingdata")
path =  "/content/drive/MyDrive/loan-default-prediction/"
os.listdir(path)

['sampleSubmission.csv', 'test_v2.csv.zip', 'train_v2.csv.zip']

In [ ]:
Loan_Data = pd.read_csv(path + "train_v2.csv.zip")
Loan_Data.head()
Loan_Data_Test=pd.read_csv(path + "test_v2.csv.zip")
Loan_Data_Test.head()

   id   f1  f2        f3    f4  f5  ...    f774    f775  f776  f777  f778  loss
0   1  126  10  0.686842  1100   3  ...  0.1833  0.7873     1     0     5     0
1   2  121  10  0.782776  1100   3  ...  0.1926 -0.6787     1     0     5     0
2   3  126  10  0.500080  1100   3  ...  0.2521  0.7258     1     0     5     0
3   4  134  10  0.439874  1100   3  ...  0.2498  0.7119     1     0     5     0
4   5  109   9  0.502749  2900   4  ...  0.2282 -0.5399     0     0     5     0

[5 rows x 771 columns]

       id   f1  f2        f3    f4  ...    f774    f775  f776  f777  f778
0  105472  147   6  0.487058  1100  ...  0.0539 -1.0733     0     1  1079
1  105473  156   6  0.728518  5400  ...  0.3030  0.6087     0     1    36
2  105474  132   9  0.898133  2200  ...  0.2317  0.4184     0     0   393
3  105475  128   7  0.038411  1300  ...  0.2826 -0.7711     0     0   394
4  105476  119  10  0.443620  1300  ...  0.1815 -1.0843     0     0    23

[5 rows x 770 columns]

In [ ]:
Loan_Data.info()
Loan_Data_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 771 entries, id to loss
dtypes: float64(653), int64(99), object(19)
memory usage: 620.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210944 entries, 0 to 210943
Columns: 770 entries, id to f778
dtypes: float64(654), int64(96), object(19), uint64(1)
memory usage: 1.2+ GB

In [ ]:
c=Loan_Data.keys()
ct=Loan_Data_Test.keys()
c
ct

Index(['id', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9',
       ...
       'f770', 'f771', 'f772', 'f773', 'f774', 'f775', 'f776', 'f777', 'f778',
       'loss'],
      dtype='object', length=771)

Index(['id', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9',
       ...
       'f769', 'f770', 'f771', 'f772', 'f773', 'f774', 'f775', 'f776', 'f777',
       'f778'],
      dtype='object', length=770)

In [ ]:
Loan_Data.isnull().sum()
Loan_Data_Test.isnull().sum()

id         0
f1         0
f2         0
f3         0
f4         0
        ...
f775    1525
f776       0
f777       0
f778       0
loss       0
Length: 771, dtype: int64

id         0
f1         0
f2         0
f3         0
f4         0
        ...
f774    2066
f775    2960
f776       0
f777       0
f778       0
Length: 770, dtype: int64

In [ ]:
Loan_Data.dropna(inplace=True)
Loan_Data_Test.dropna(inplace=True)

In [ ]:
for i in Loan_Data.select_dtypes(include=['object']).columns:
    Loan_Data.drop(labels=i, axis=1, inplace=True)
for i in Loan_Data_Test.select_dtypes(include=['object']).columns:
    Loan_Data_Test.drop(labels=i, axis=1, inplace=True)

In [ ]:
Loan_Data.shape
Loan_Data_Test.shape

(51940, 752)

(54767, 751)

In [ ]:
Loan_Data.head()
Loan_Data_Test.head()

   id   f1  f2        f3    f4  f5  ...    f774    f775  f776  f777  f778  loss
2   3  126  10  0.500080  1100   3  ...  0.2521  0.7258     1     0     5     0
4   5  109   9  0.502749  2900   4  ...  0.2282 -0.5399     0     0     5     0
6   7  121   9  0.985674  2900   4  ...  0.2458 -0.6732     0     0     5     0
7   8  128   9  0.385778  2900   4  ...  0.2947 -0.7220     0     0     5     1
8   9  126   9  0.745471  2900   4  ...  0.2601  0.7132     0     0     5     0

[5 rows x 752 columns]

        id   f1  f2        f3    f4  ...    f774    f775  f776  f777  f778
2   105474  132   9  0.898133  2200  ...  0.2317  0.4184     0     0   393
9   105481  153   7  0.445673  5300  ...  0.2476  0.8338     0     1    34
12  105484  127   8  0.870942  1300  ...  0.2610 -0.6390     0     0    30
15  105487  125  10  0.153149  1300  ...  0.2846  0.8886     0     0   393
18  105490  112  10  0.044429  1900  ...  0.3035  0.6035     1     0   513

[5 rows x 751 columns]

In [ ]:
y=Loan_Data.pop('loss'),
y[:3]
X=Loan_Data,
X= np.asarray(X)
y= np.asarray(y)

(2         0
 4         0
 6         0
 7         1
 8         0
          ..
 105463    3
 105464    0
 105465    0
 105466    0
 105468    0
 Name: loss, Length: 51940, dtype: int64,)

In [ ]:
X.shape
y.shape

(1, 51940, 751)

(1, 51940)

In [ ]:
X= X.reshape(-1,751)
y= y.reshape(51940)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
f"X_train shape: {X_train.shape}" 
print()
f"X_test.shape : {X_test.shape}"  
print()
f"y_train shape: {y_train.shape}" 
print()
f"y_test shape : {y_test.shape}"

'X_train shape: (41552, 751)'

'X_test.shape : (10388, 751)'

'y_train shape: (41552,)'

'y_test shape : (10388,)'

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred= model.predict(X_test)
print(accuracy_score( y_test, y_pred))

0.9003658067000385

In [ ]:
X_test1= Loan_Data_Test
y_pred1= model.predict(X_test1)

In [ ]:
print(y_pred1)

[0 0 0 ... 0 0 0]