In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [263]:
import numpy as np
import pandas as pd
import os,time
from sklearn.model_selection import train_test_split

In [3]:
path =  "/content/drive/MyDrive/rosman"
os.listdir(path)

['test.csv', 'sample_submission.csv', 'store.csv', 'train.csv']

In [264]:
train_set_df = pd.read_csv ('/content/drive/MyDrive/rosman/train.csv')
test_set_df = pd.read_csv ('/content/drive/MyDrive/rosman/test.csv')
sample_submission_df = pd.read_csv ('/content/drive/MyDrive/rosman/sample_submission.csv')
store_df = pd.read_csv ('/content/drive/MyDrive/rosman/store.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [265]:
train_set_df.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [266]:
store_df.head()

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [267]:
train_set_df.shape
store_df.shape

(1115, 10)

In [268]:
data1 = pd.read_csv('/content/drive/MyDrive/rosman/train.csv')
data2 = pd.read_csv('/content/drive/MyDrive/rosman/store.csv')
output1 = pd.merge(data1, data2, on= 'Store', how='inner')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [269]:
print(output1)

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0            1          5  ...             NaN               NaN
1            1          4  ...             NaN               NaN
2            1          3  ...             NaN               NaN
3            1          2  ...             NaN               NaN
4            1          1  ...             NaN               NaN
...        ...        ...  ...             ...               ...
1017204   1115          6  ...          2012.0  Mar,Jun,Sept,Dec
1017205   1115          5  ...          2012.0  Mar,Jun,Sept,Dec
1017206   1115          4  ...          2012.0  Mar,Jun,Sept,Dec
1017207   1115          3  ...          2012.0  Mar,Jun,Sept,Dec
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[1017209 rows x 18 columns]

In [270]:
output1.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [273]:
output1.dropna()
test_set_df.dropna()

          Id  Store  DayOfWeek  ... Promo  StateHoliday  SchoolHoliday
0          1      1          4  ...     1             0              0
1          2      3          4  ...     1             0              0
2          3      7          4  ...     1             0              0
3          4      8          4  ...     1             0              0
4          5      9          4  ...     1             0              0
...      ...    ...        ...  ...   ...           ...            ...
41083  41084   1111          6  ...     0             0              0
41084  41085   1112          6  ...     0             0              0
41085  41086   1113          6  ...     0             0              0
41086  41087   1114          6  ...     0             0              0
41087  41088   1115          6  ...     0             0              1

[41077 rows x 8 columns]

In [274]:
output1.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [275]:
output2=output1.drop(['Date','CompetitionOpenSinceMonth','CompetitionDistance','Promo2','CompetitionOpenSinceYear','Promo2SinceWeek','Promo2SinceYear','PromoInterval' ,'Assortment','StoreType','StateHoliday','Customers' ], axis = 1)

In [276]:
test_set_df=test_set_df.drop(['StateHoliday'], axis = 1)

In [277]:
test_set_df=test_set_df.drop(['Id'], axis = 1)

In [278]:
test_set_df=test_set_df.drop(['Date'], axis = 1)

In [279]:
output2.dropna

<bound method DataFrame.dropna of          Store  DayOfWeek  Sales  Open  Promo  SchoolHoliday
0            1          5   5263     1      1              1
1            1          4   5020     1      1              1
2            1          3   4782     1      1              1
3            1          2   5011     1      1              1
4            1          1   6102     1      1              1
...        ...        ...    ...   ...    ...            ...
1017204   1115          6   4771     1      0              1
1017205   1115          5   4540     1      0              1
1017206   1115          4   4297     1      0              1
1017207   1115          3   3697     1      0              1
1017208   1115          2      0     0      0              1

[1017209 rows x 6 columns]>

In [260]:
output2.head()

   Store  DayOfWeek  Open  Promo  SchoolHoliday
0      1          5     1      1              1
1      1          4     1      1              1
2      1          3     1      1              1
3      1          2     1      1              1
4      1          1     1      1              1

In [261]:
test_set_df.head()

   Store  DayOfWeek  Open  Promo  SchoolHoliday
0      1          4   1.0      1              0
1      3          4   1.0      1              0
2      7          4   1.0      1              0
3      8          4   1.0      1              0
4      9          4   1.0      1              0

In [280]:
y = output2.pop('Sales')
X=output2

In [281]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [282]:
f"X_train shape: {X_train.shape}" 
print()
f"X_test.shape : {X_test.shape}"  
print()
f"y_train shape: {y_train.shape}" 
print()
f"y_test shape : {y_test.shape}"

'y_test shape : (203442,)'

In [283]:
import xgboost as xg
xgb_r = xg.XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 123)
xgb_r.fit(X_train, y_train)

[06:17:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=10,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=123,
             silent=None, subsample=1, verbosity=1)

In [284]:
from sklearn.metrics import mean_squared_error as MSE
pred = xgb_r.predict(X_test)
rmse = np.sqrt(MSE(y_test, pred))

print("RMSE : % f" %(rmse))

RMSE :  3407.907930

In [285]:
pred = xgb_r.predict(test_set_df)

In [286]:
print(pred)

[5056.552  5056.552  5056.552  ... 3850.8423 7366.776  7366.776 ]

Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.